@import url('@educandu/educandu/styles/main.less');

// Styles for the page templates
@import url('./bundles/site-logo.less');
@import url('./bundles/page-header.less');
@import url('./bundles/page-footer.less');
@import url('./bundles/page-template.less');
@import url('./bundles/home-page-template.less');

@import url('./styles/roboto-font.less');
@import url('./styles/dancing-script-font.less');

// Text
@edu-font-family: 'Roboto', sans-serif;
@edu-link-decoration: none;

// Size
@edu-page-content-padding: 12px;
@edu-border-radius-base: 2px;

// Color
@edu-primary-color: @blue-7;
@edu-link-color: @blue-7;
@edu-link-active-color: lighten(@edu-link-color, 15%);
@edu-link-hover-color: lighten(@edu-link-color, 15%);

